// Tipografia
$font: 'Montserrat', sans-serif;

// Colores
$color-1: #0726D9;
$color-2: #031240;
$color-3: #1760BF;
$color-4: #3D9DF2;
$color-5: #52C5F2;

$blanco: #FFF;
$negro: #000;
$gris: #161616;
$success-color: rgb(89, 191, 38);
$warning-color: rgb(244, 180, 0);
$danger-color: rgb(197, 44, 38);

$shadow-color: #ededed;

$root-vars: (
    spacing: 1rem,
    radius: 8px,
    font: $font,
    transition: 0.3s,
    // Colores
    negro: $negro,
    blanco: $blanco,
    success-color: $success-color,
    warning-color: $warning-color,
    danger-color: $danger-color
);

$themes: (
    light: (
        text-color: $color-2,
        bg: $blanco,
        border-pri: $color-2,
        border-sec: $color-5,
        btn-bg: $color-5,
        btn-border: $color-5
    ),
    dark: (
        text-color: #ebebeb,
        bg: $gris,
        border-pri: #ebebeb,
        border-sec: $color-5,
        btn-bg: $color-5,
        btn-border: $color-5
    )
);