body:not(.app) {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 2rem;

    &__theme-btn {
        appearance: none;
        width: 5rem;
        height: 2.5rem;
        border: 2px solid var(--btn-border);
        border-radius: var(--radius);
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: calc(var(--transition) - .1s) ease-in-out;

        &:hover {
            background-color: color-mix(in srgb, var(--btn-bg) 20%, transparent);
        }
        &::before {
            content: '';
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: var(--radius);
            background-color: var(--btn-bg);
            background-image: url(/build/imgs/icons/moon.svg);
            background-size: contain;
        }
        &:checked::before {
            background-image: url(/build/imgs/icons/sun.svg);
            margin-left: auto;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: max-content;
        transition: var(--transition) ease-in-out;

        &:hover {
            color: var(--danger-color);
        }
    }
}