@use 'base/variables' as v;

.alerta {
    position: relative;
    padding: .5rem 2rem;
    margin-top: .5rem;
    border-radius: .5rem;
    animation: up .3s ease-in-out forwards;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 1rem;
        height: 100%;
        border-radius: .5rem 0 0 .5rem;
    }

    &--danger {
        background-color: var(--alert-danger-bg);

        &::before {
            left: 0;
            background-color: var(--danger-color);
        }
    }
    &--success {
        background-color: var(--alert-success-bg);

        &::before {
            background-color: var(--success-color);
            left: 0;
        }
    }
    &--warning {
        background-color: var(--alert-warning-bg);

        &::before {
            background-color: var(--warning-color);
            left: 0;
        }
    }
    &--right {
        position: fixed;
        right: 0;
        top: -5px;
        padding: 1rem 2rem;
        padding-left: 2.5rem;
        font-size: 1.8rem;
    }
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}