@use 'base/variables' as v;
@use 'base/mixins' as m;

body:has(.form--logup),
body:has(.form--login) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    
    &--login,
    &--logup {
        box-shadow: 0px 0px 15px 1px var(--shadow-color);
        border-radius: .8rem;
        padding: 2rem;
        width: 95%;
        max-width: 45rem;
        max-height: 80vh;
        overflow-y: auto;
    }
    &--account {

        .form__campos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
    &__name {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }
    &__campos {
        margin-bottom: 3rem;
    }
    &__campo {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__label {
        display: block;
        margin-bottom: .5rem;
        cursor: pointer;
    }
    &__input {
        width: 100%;
        padding: 1rem .5rem;
        outline: none;
        border: 1px solid v.$color-5;
        border-radius: .5rem;
        background-color: var(--bg);
        color: var(--text-color);

        &:disabled {
            background-color: lighten(v.$color-5, 30%);
            border: 1px solid v.$color-5;
            cursor: not-allowed;
        }
    }
    &__submit {
        @include m.btn;
        width: 100%;

        &--ocultar {
            display: none;
        }
    }
    &__link {
        display: inline-block;
        margin-top: 2rem;
    }
    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    &__action {
        width: max-content;
    }
}

.paso {
    display: none;

    &--activo {
        display: block;
    }
    &__titulo {
        font-weight: 600;
    }
    &__nav {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn {
        @include m.btn;

        &--anterior {
            @include m.btn(#efefef, v.$negro);
            border: 1px solid lighten(v.$color-5, 20%);
        }
        &--ocultar {
            visibility: hidden;
        }
    }
}