.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--radius);
    
    &-contenedor {
        overflow-x: auto;

    }
    th {
        text-align: left;
        padding: 1.5rem 2rem;
        text-transform: uppercase;
    }
    tr {
        border-bottom: 1px solid var(--border-pri);
    }
    td {
        padding: 1.2rem 2rem;
    }
}